<meta charset="UTF-8" />
<h1 style="text-align: center">AUTORISATION DE DOMICILIATION</h1>

{% if docParams.physicOrLegal == 0 %}
    <p>
Nom prénom DE L’ASSOCIÉ, demeurant à VILLE (CODE POSTAL),
NUMÉRO ET RUE, Né(e) à VILLE (DÉPARTEMENT), le DATE DE NAISSANCE
    </p>
{% else %}
    <p>
DÉNOMINATION SOCIALE DE LA SOCIÉTÉ PROPRIÉTAIRE, FORME DE
LA SOCIÉTÉ PROPRIÉTAIRE, au capital de MONTANT DU CAPITAL DE LA
SOCIÉTÉ PROPRIÉTAIRE euros, dont le siège social est sis à VILLE DU SIÈGE
SOCIAL (CODE POSTAL DU SIÈGE SOCIAL DE LA SOCIÉTÉ PROPRIÉTAIRE),
NUMÉRO ET NOM DE LA RUE DU SIÈGE SOCIAL, immatriculée au Registre du
Commerce et des Sociétés de NOM DE LA VILLE DU RCS DU SIÈGE SOCIAL sous
le numéro NUMÉRO DU RCS, représentée par NOM DU REPRÉSENTANT DE LA
SOCIÉTÉ PROPRIÉTAIRE, agissant en qualité de PRÉSIDENT / DIRECTEUR /
GÉRANT dûment habilité à l’effet des présentes.
    </p>
{% endif %}

<h2>Par la présente</h2>
<p>
Autorise la société « DÉNOMINATION SOCIALE », FORME SOCIALE au
capital de MONTANT DU CAPITAL EN TOUT CHIFFRES €, en cours
d’immatriculation au Registre du Commerce et des Sociétés de VILLE
D’IMMATRICULAT DU FUTUR SIÈGE SOCIAL :

A fixer son siège social dans les locaux dont il/elle est propriétaire à
ADRESSE COMPLÈTE DE LOCAUX ;
À compter de ce jour ;
Pour y exercer l’activité de REPRENDRE L’OBJET SOMMAIREMENT ;
S’oblige à ne pas dénonce la présente autorisation sans respecter un préavis
    de trois (3) mois.</p>
<p>
Fait pour valoir ce que de droit,
À
Le
</p>