
{% extends 'base.html.twig' %}

{% block title %}Accueil Artis Consillium{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center">
        <a href="#" class="mr-3 ">Je crée mon entreprise</a>
        <a href="#">J'ai déjà une entreprise</a>
</div>
<div id="documents-carousel">
        <p class="text-center">ICI SLIDER DE DOCUMENTS</p>
        <div class="d-flex container justify-content-center">
                <p>Document1</p>
                <p>Document2</p>
                <p>Document3</p>
                <p>Document4</p>
                <p>Document5</p>
                <p>Document6</p>
                <p>Document7</p>
        </div>
</div>
<div id="mode-emploi" class="text-center">
        <h1>Artis Consillium c'est quoi etc... </h1>
        <p>Belle explication comment utiliser le site / Pourquoi / Dans quel contexte / Gain de temps etc...</p>
</div>
<div id="liste-modules" class="text-center">
        <h1>Tous nos modules</h1>
        <p>Explication modules</p>
        <div class="container">
                <p>Module 1 - Description</p>
                <p>Module 1 - Description</p>
                <p>Module 1 - Description</p>
                <p>Module 1 - Description</p>
                <p>Module 1 - Description</p>
        </div>
        <h2>Les abonnements</h2>
        <p>Abonnement 1</p>
        <p>Abonnement 2</p>
        <p>Abonnement 3</p>
</div>
<div id="consulting" class="text-center">
        <h2>Qu'est ce que le consulting</h2>
        <p>BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA BLA </p>
        <a href="#">Déléguer des tâches</a>
        <div id="articles">
                <p>Articles en relation avec la prestation de services consulting</p>
        </div>
</div>
<div id="articles-suggested" class="text-center">
        <h1>Articles qui pourraient vous intéresser</h1>
        <p>Article 1 en relation avec un type d'entreprise enregistré sur le compte</p>
</div>
<div id="annuaire-entreprise" class="text-center">
        <h1>Annuaire des entreprises</h1>
</div>
<div id="nos-partenaires" class="text-center">
        <h1>Nos partenaires</h1>
</div>
{% endblock %}
