{% extends 'base.html.twig' %}

{% block title %}New Factures{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('factures_index') }}">Retour au menu</a>
    <h1>Détails de la facture</h1>

    {{ include('factures/_form.html.twig') }}
</div>
{% endblock %}
