{% extends 'admin/baseadmin.html.twig' %}

{% block body %}

    <div class="container" style="border-bottom: solid 2px;">
        <p>Documents d'identité d'un compte utilisateur pour vérifier leur compte</p>
    </div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Documents entreprise (Kbis, demande particulière)</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Les créations d'entreprise en attente</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Les documents mandatés par un client</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Les demandes de support en attente</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>L'historique de transactions</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Gérer les utilisateurs</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Gérer les catégories</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Rédiger un article</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Les articles en attente de modération</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Les modèles de documents</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Tous les modules (gratuits pour toi tkt)</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Tous vos documents</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Gérer les abonnements</p>
</div>
<div class="container" style="border-bottom: solid 2px;">
    <p>Gérer code promo</p>
</div>
{% endblock %}